@import '../../../variables.scss';

.invest {
    color: $secondary-color;
    font-size: 1.6rem;
    
}

.investRounds {
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.investRound {
    width: 44%;
    border: 2px solid $secondary-color;
    border-radius: 40px;
    padding: 0 30px;
}

.investBtns {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    > Button {
        margin-left: 10px;
    }
}

.yellow {
    color: $primary-color;
}