@import '../../../variables.scss';

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 43px;
    width: 300px;
    height: 30px;
    padding: 0 20px;
    background: transparent;
    
    > ul {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > li {

            list-style-type: none;   

            > a {
                color: $secondary-color;
                text-decoration: none;
                font-size: 1em;
                font-weight: bold;
                transition: 150ms;
            };

            > a:hover {
                color: $primary-color;
            }
        };
    };
}