@import '../../../variables.scss';

.card {
    background-color: $second-background-color;
    width: 400px;
    height: 450px;

    border-radius: 40px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: $primary-color;

    > Button {
        width: 100%;
    }

}

.cardName {
    color: $secondary-color;
    margin-top: 20px;
    background-color: $backround-color-opacity;
    padding: 8px 40px;

    border-radius: 43px;
    border: 1px solid #54585C;

    font-size: 0.8rem;
    font-weight: 500;
}