@import '../../../variables.scss';

.metricScreen {
    font-size: 3rem;
    color: $secondary-color;
    padding-top: 20px;
    > h1 {
        width: 60%;
    };
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.yellow {
    color: $primary-color;
}

.metricsCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > img {
        width: 30%;
    }
}