$primary-color: #DEFA2C;
$background-color: #151718;
$second-background-color: #2C2C2E;
$backround-color-opacity: rgba(44, 44, 46, 0.4);
$backround-color-opacity-dark: rgba(21, 23, 24, 0.5);
$secondary-color: #F7F8FA;
$gray: #54585C;