@import '../../../variables.scss';

.secondScreen {
    color: $secondary-color;
    font-size: 1.6rem;
}

.yellow {
    color: $primary-color;
}

.cards {
    margin-top: 30px ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}